/*----- VARIABLES -----*/
/*----- VARIABLES -----*/
/* blue */
/*----- MIXINS -----*/
/*----- FONTS -----*/
body {
  font-family: 'merriweather', sans-serif;
  font-size: 15px;
  color: #3c413b;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Oswald', sans-serif;
}
h2 {
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
}
h3 {
  text-align: center;
  color: #8e7861;
}
a {
  color: #8e7861;
}
a:hover {
  color: #5b452e;
}
/*----- LAYOUT -----*/
.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
header {
  min-height: 500px;
  overflow: auto;
  background: url('../img/main-header-02.jpg') no-repeat top left;
}
header h1 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75em;
}
header .logo img {
  height: 100px;
}
.header-content {
  padding: 1em 0 1em;
  background: rgba(255, 255, 255, 0.7);
  -webkit-box-shadow: 0 3px 5px #333333;
  -moz-box-shadow: 0 3px 5px #333333;
  box-shadow: 0 3px 5px #333333;
}
.header-content .container {
  padding-left: 0;
  padding-right: 0;
}
.billboard {
  position: relative;
}
.billboard h2 {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  font-family: 'Luckiest Guy', sans-serif;
  font-size: 5rem;
  color: #FFF;
  -webkit-transform: translate(-50%, 45%);
  -moz-transform: translate(-50%, 45%);
  -ms-transform: translate(-50%, 45%);
  -o-transform: translate(-50%, 45%);
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
}
.img-thumbnail.img-polaroid {
  padding: 7px;
  -webkit-box-shadow: 4px 4px 5px 0 rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 4px 4px 5px 0 rgba(0, 0, 0, 0.75);
  box-shadow: 4px 4px 5px 0 rgba(0, 0, 0, 0.75);
}
.img-thumbnail.img-polaroid.rotate-left-eight {
  margin: 0 0 0 10rem;
  -webkit-transform: rotate(-8deg);
  -moz-transform: rotate(-8deg);
  -ms-transform: rotate(-8deg);
  -o-transform: rotate(-8deg);
  transform: rotate(-8deg);
}
.img-thumbnail.img-polaroid.rotate-right-eight {
  margin: 0 0 0 2rem;
  -webkit-transform: rotate(8deg);
  -moz-transform: rotate(8deg);
  -ms-transform: rotate(8deg);
  -o-transform: rotate(8deg);
  transform: rotate(8deg);
}
section {
  padding: 8rem 0;
  border-bottom: 1px dashed #333;
}
/*----- NAVIGATION -----*/
nav ul {
  list-style-type: none;
}
nav ul li {
  margin: 0;
  padding: 0;
}
nav ul li a {
  padding: .25em 1em;
  display: block;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
}
nav ul li a:hover {
  background: rgba(230, 230, 230, 0.7);
  text-decoration: none;
}
/*----- SPECIFIC STYLES -----*/
#bio,
#work-history {
  background: url('../img/northwest_map.png') no-repeat top left;
}
#skills h3 {
  clear: both;
}
.skill {
  margin-bottom: 3rem;
  text-align: center;
}
.skill .rating {
  margin-bottom: .5em;
  opacity: .5;
}
@keyframes spin {
  to {
    transform: rotate(0.5turn);
  }
}
.skill-rating {
  margin: 0 auto .5em;
  width: 50px;
  height: 50px;
  overflow: hidden;
  border-radius: 50%;
  border: 3px solid #777;
  background: #cacdd8;
  background-image: linear-gradient(to right, transparent 50%, #000066 0);
}
.skill-rating:before {
  content: '';
  display: block;
  margin-left: 50%;
  height: 100%;
  border-radius: 0 100% 100% 0%;
  transform-origin: left;
}
.skill-rating.ten-percent:before {
  background-color: inherit;
  -webkit-transform: rotate(0.1turn);
  -moz-transform: rotate(0.1turn);
  -ms-transform: rotate(0.1turn);
  -o-transform: rotate(0.1turn);
  transform: rotate(0.1turn);
}
.skill-rating.twenty-percent:before {
  background-color: inherit;
  -webkit-transform: rotate(0.2turn);
  -moz-transform: rotate(0.2turn);
  -ms-transform: rotate(0.2turn);
  -o-transform: rotate(0.2turn);
  transform: rotate(0.2turn);
}
.skill-rating.thirty-percent:before {
  background-color: inherit;
  -webkit-transform: rotate(0.3turn);
  -moz-transform: rotate(0.3turn);
  -ms-transform: rotate(0.3turn);
  -o-transform: rotate(0.3turn);
  transform: rotate(0.3turn);
}
.skill-rating.forty-percent:before {
  background-color: inherit;
  -webkit-transform: rotate(0.4turn);
  -moz-transform: rotate(0.4turn);
  -ms-transform: rotate(0.4turn);
  -o-transform: rotate(0.4turn);
  transform: rotate(0.4turn);
}
.skill-rating.fifty-percent:before {
  background-color: inherit;
  -webkit-transform: rotate(0.5turn);
  -moz-transform: rotate(0.5turn);
  -ms-transform: rotate(0.5turn);
  -o-transform: rotate(0.5turn);
  transform: rotate(0.5turn);
}
.skill-rating.sixty-percent:before {
  background-color: #000066;
  -webkit-transform: rotate(0.1turn);
  -moz-transform: rotate(0.1turn);
  -ms-transform: rotate(0.1turn);
  -o-transform: rotate(0.1turn);
  transform: rotate(0.1turn);
}
.skill-rating.seventy-percent:before {
  background-color: #000066;
  -webkit-transform: rotate(0.2turn);
  -moz-transform: rotate(0.2turn);
  -ms-transform: rotate(0.2turn);
  -o-transform: rotate(0.2turn);
  transform: rotate(0.2turn);
}
.skill-rating.eighty-percent:before {
  background-color: #000066;
  -webkit-transform: rotate(0.3turn);
  -moz-transform: rotate(0.3turn);
  -ms-transform: rotate(0.3turn);
  -o-transform: rotate(0.3turn);
  transform: rotate(0.3turn);
}
.skill-rating.ninety-percent:before {
  background-color: #000066;
  -webkit-transform: rotate(0.4turn);
  -moz-transform: rotate(0.4turn);
  -ms-transform: rotate(0.4turn);
  -o-transform: rotate(0.4turn);
  transform: rotate(0.4turn);
}
.skill-rating.hundred-percent:before {
  background-color: #000066;
  -webkit-transform: rotate(0.5turn);
  -moz-transform: rotate(0.5turn);
  -ms-transform: rotate(0.5turn);
  -o-transform: rotate(0.5turn);
  transform: rotate(0.5turn);
}
ul.lesser-skills {
  margin: 3rem 0 3rem;
  overflow: auto;
  list-style-type: none;
}
ul.lesser-skills li {
  float: left;
  margin: 0 .25em .5em;
  padding: .25em .5em;
  display: block;
  background: #cacdd8;
  border: 1px solid #aaaaff;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-box-shadow: 1px 1px 3px 0px #8e7861;
  -moz-box-shadow: 1px 1px 3px 0px #8e7861;
  box-shadow: 1px 1px 3px 0px #8e7861;
}
.work-place {
  margin-bottom: 3rem;
  padding: .75em;
  width: 48%;
  border: 1px solid #8e7861;
  background: rgba(255, 255, 255, 0.5);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.work-place h3 {
  margin-bottom: 1rem;
  padding-bottom: .5em;
  border-bottom: 1px dashed #8e7861;
}
.work-place .location {
  text-align: center;
  font-size: 1.25rem;
}
.work-place ul {
  padding-left: 1.2em;
}
/*----- FORM HELPER STYLES -----*/
/*----- HELPER CLASSES ------*/
.pull-right {
  margin-left: 1em;
}
.pull-left {
  margin-right: 1em;
}
/*----- RESPONSIVE ADJUSTMENTS -----*/
@media only screen and (max-width: 480px) {
  
}
