/*----- VARIABLES -----*/
@displayText: 'Luckiest Guy', sans-serif;
@bodyHeading: 'Oswald', sans-serif;
@bodyText: 'merriweather', sans-serif;


/*----- MIXINS -----*/
@import "less_mixins.less";


/*----- FONTS -----*/
body {
	font-family: @bodyText;
	font-size: 15px;
}

h1, h2, h3, h4, h5, h6 {
	font-family: @bodyHeading;
}


/*----- LAYOUT -----*/
.flex-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
header {
	height: 500px;
	overflow: auto;
	background: url('../img/main-header-02.jpg') no-repeat top left;

	h1 {
		margin-top: 0; 
		margin-bottom: 0;
		line-height: .75em;
	}
	.logo {

		img {
			height: 100px;
		}
	}
}
.header-content {
	padding: 1em 0 1em;
	background: rgba(255, 255, 255, .7);
	.box-shadow(0 3px 5px #333);

	.container {
		padding-left: 0;
		padding-right: 0;
	}
}
.billboard {
	position: relative;

	h2 {
		width: 100%;
		position: absolute;
		top: 50%;
		left: 50%;
		font-family: @displayText;
		font-size: 5rem;
		color: #FFF;
		.translate (-50%, 45%);
		.text-shadow ();
	}
}
.img-thumbnail.img-polaroid {
	padding: 7px;
	.drop-shadow(4px, 4px, 5px, 0, 0.75);

	&.rotate-left-eight {
		margin: 0 0 0 10rem;
		.rotate(-8deg);
	}
	&.rotate-right-eight {
		margin: 0 0 0 5rem;
		.rotate(8deg);
	}
}

section {
	padding: 5rem 0;
	border-bottom: 1px solid #333;
}


/*----- NAVIGATION -----*/
nav {
	ul {
		list-style-type: none;
		li {
			float: left;
			margin: 0;
			padding: 0;
			a {
				padding: .25em 3em;
				display: block;
				.border-radius(4px);
				.transition(all .2s ease-out);

				&:hover {
					background: rgba(230, 230, 230, .7);
					text-decoration: none;
				}
			}
		}
	}
}

/*----- SPECIFIC STYLES -----*/
#skills {
	padding: 5rem 0;
}
.skill {
	margin-bottom: 3rem;
	text-align: center;

	.rating {
		margin-bottom: .5em;
	}
}
.skill-rating {
	margin: 0 auto .5em;
	width: 50px;
	height: 50px;
	overflow: hidden;
	border-radius: 50%;
	border: 4px solid #777;
	background: #BBB;
	background-image: linear-gradient(to right, transparent 50%, #006 0);

	&:before {
		content: '';
		display: block;
		margin-left: 50%;
		height: 100%;
		border-radius: 0 100% 100% 0 / 50%;
		transform-origin: left;
	}
	&.ten-percent {
		&:before {
			background-color: inherit;
			.rotate(.1turn);
		}
	}
	&.twenty-percent {
		&:before {
			background-color: inherit;
			.rotate(.2turn);
		}
	}
	&.thirty-percent {
		&:before {
			background-color: inherit;
			.rotate(.3turn);
		}
	}
	&.forty-percent {
		&:before {
			background-color: inherit;
			.rotate(.4turn);
		}
	}
	&.fifty-percent {
		&:before {
			background-color: inherit;
			.rotate(.5turn);
		}
	}
	&.sixty-percent {
		&:before {
			background-color: #006;
			.rotate(.1turn);
		}
	}
	&.seventy-percent {
		&:before {
			background-color: #006;
			.rotate(.2turn);
		}
	}
	&.eighty-percent {
		&:before {
			background-color: #006;
			.rotate(.3turn);
		}
	}
	&.ninety-percent {
		&:before {
			background-color: #006;
			.rotate(.4turn);
		}
	}
	&.hundred-percent {
		&:before {
			background-color: #006;
			.rotate(.5turn);
		}
	}
}



/*----- FORM HELPER STYLES -----*/



/*----- HELPER CLASSES ------*/
.pull-right {
	margin-left: 1em;
}
.pull-left {
	margin-right: 1em;
}


/*----- RESPONSIVE ADJUSTMENTS -----*/

@media only screen and (max-width: 480px) {

}