/*----- VARIABLES -----*/
@displayText: 'Luckiest Guy', sans-serif;
@bodyHeading: 'Oswald', sans-serif;
@bodyText: 'merriweather', sans-serif;

@dark: #3C413B;
@medium: #8E7861;
@light: #F0EDC2;
@accentOne: #CACDD8;
@accentTwo: #E8F29C;
@accentThree: #006; /* blue */


/*----- MIXINS -----*/
@import "less_mixins.less";


/*----- FONTS -----*/
body {
	font-family: @bodyText;
	font-size: 15px;
	color: @dark;
}

h1, h2, h3, h4, h5, h6 {
	font-family: @bodyHeading;
}
h2 {
	.text-shadow(2px 1px 2px rgba(0, 0, 0, 0.5));
}
h3 {
	text-align: center;
	color: @medium;
}

a {
	color: @medium;

	&:hover {
		color: @medium - #333;
	}
}


/*----- LAYOUT -----*/
.flex-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
header {
	min-height: 500px;
	overflow: auto;
	background: url('../img/main-header-02.jpg') no-repeat top left;

	h1 {
		margin-top: 0; 
		margin-bottom: 0;
		line-height: .75em;
	}
	.logo {

		img {
			height: 100px;
		}
	}
}
.header-content {
	padding: 1em 0 1em;
	background: rgba(255, 255, 255, .7);
	.box-shadow(0 3px 5px #333);

	.container {
		padding-left: 0;
		padding-right: 0;
	}
}
.billboard {
	position: relative;

	h2 {
		width: 100%;
		position: absolute;
		top: 50%;
		left: 50%;
		font-family: @displayText;
		font-size: 5rem;
		color: #FFF;
		.translate(-50%, 45%);
		.text-shadow();
	}
}
.img-thumbnail.img-polaroid {
	padding: 7px;
	.drop-shadow(4px, 4px, 5px, 0, 0.75);

	&.rotate-left-eight {
		margin: 0 0 0 10rem;
		.rotate(-8deg);
	}
	&.rotate-right-eight {
		margin: 0 0 0 2rem;
		.rotate(8deg);
	}
}

section {
	padding: 8rem 0;
	border-bottom: 1px dashed #333;
}


/*----- NAVIGATION -----*/
nav {
	ul {
		list-style-type: none;
		li {
			margin: 0;
			padding: 0;
			a {
				padding: .25em 1em;
				display: block;
				.border-radius(4px);
				.transition(all .2s ease-out);

				&:hover {
					background: rgba(230, 230, 230, .7);
					text-decoration: none;
				}
			}
		}
	}
}

/*----- SPECIFIC STYLES -----*/
#bio,
#work-history {
	background: url('../img/northwest_map.png') no-repeat top left;
}
#skills {

	h3 {
		clear: both;
	}
}
.skill {
	margin-bottom: 3rem;
	text-align: center;

	.rating {
		margin-bottom: .5em;
		opacity: .5;
	}
}

.skill-rating {
	margin: 0 auto .5em;
	width: 50px;
	height: 50px;
	overflow: hidden;
	border-radius: 50%;
	border: 3px solid #777;
	background: @accentOne;
	background-image: linear-gradient(to right, transparent 50%, #006 0);

	&:before {
		content: '';
		display: block;
		margin-left: 50%;
		height: 100%;
		border-radius: 0 100% 100% 0 / 50%;
		transform-origin: left;
	}
	&.ten-percent {
		&:before {
			background-color: inherit;
			.rotate(.1turn);
		}
	}
	&.twenty-percent {
		&:before {
			background-color: inherit;
			.rotate(.2turn);
		}
	}
	&.thirty-percent {
		&:before {
			background-color: inherit;
			.rotate(.3turn);
		}
	}
	&.forty-percent {
		&:before {
			background-color: inherit;
			.rotate(.4turn);
		}
	}
	&.fifty-percent {
		&:before {
			background-color: inherit;
			.rotate(.5turn);
		}
	}
	&.sixty-percent {
		&:before {
			background-color: @accentThree;
			.rotate(.1turn);
		}
	}
	&.seventy-percent {
		&:before {
			background-color: @accentThree;
			.rotate(.2turn);
		}
	}
	&.eighty-percent {
		&:before {
			background-color: @accentThree;
			.rotate(.3turn);
		}
	}
	&.ninety-percent {
		&:before {
			background-color: @accentThree;
			.rotate(.4turn);
		}
	}
	&.hundred-percent {
		&:before {
			background-color: @accentThree;
			.rotate(.5turn);
		}
	}
}

ul {
	&.lesser-skills {
		margin-top: 3rem;
		margin-bottom: 3rem;
		overflow: auto;
		list-style-type: none;

		li {
			float: left;
			margin: 0 .25em .5em;
			padding: .25em .5em;
			display: block;
			background: @accentOne;
			border: 1px solid @accentThree + #AAA;
			.border-radius(4px);
			.box-shadow(1px 1px 3px 0px @medium);
		}
	}
}

.work-place {
	margin-bottom: 3rem;
	padding: .75em;
	width: 48%;
	border: 1px solid @medium;
	background: rgba(255, 255, 255, .6);
	.border-radius(4px);

	h3 {
		margin-top: 0;
		margin-bottom: 1rem;
		padding-bottom: .5em;
		border-bottom: 1px dashed @medium;
	}
	.location {
		text-align: center;
		font-size: 1.25rem;
	}
	ul {
		padding-left: 1.2em;
		list-style-type: circle;

		li {

		}
	}
}

.portfolio {
	list-style-type: none;

	li {
		margin-right: 1rem;
		margin-bottom: 2rem;
	}
	a {
		display: block;
		.drop-shadow(2px, 2px, 4px, 0, .25);
	}
	img {
		width: 120px;
	}
}
.portfolio-piece {
	.border-radius();
}

.resume-btn {
	-webkit-animation-iteration-count: 1;
	-moz-animation-iteration-count: 1;
	-o-animation-iteration-count: 1;
}


/*----- FORM HELPER STYLES -----*/



/*----- HELPER CLASSES ------*/
.pull-right {
	margin-left: 1em;
}
.pull-left {
	margin-right: 1em;
}


/*----- RESPONSIVE ADJUSTMENTS -----*/

@media only screen and (max-width: 480px) {

}